#Python Basics
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. 
Python supports modules and packages, which encourages program modularity and code reuse.

## Difference in python2 and python3
Python2 to Python3

1. Print statement to print function
2. raw_input() to input() for taking user input

'#' is used for writing single line comments in python

'\n' is a new line character

## Getting started with python

Hello World Program

In [1]:
print("Hello World!")

Hello World!

In [ ]:
# Constants
#Data values that stay the same every time a program is executed are known as constants.

#numeric constants like 1,2 3..... and string constants like '123','hi' etc
num=123
print(num)
str='hello'
print(str)

123
hello

## Reserved words-
The Python language reserves a small set of keywords that designate special language functionality. 
No object can have the same name as a reserved word.

Reserved words are-false,None,True,break,if,else,elif,continue,and,or,not,as,assert,try,except,del,def,in,is,while,lambda,class,raise etc..

##Variable- 

A variableis a Named place in memory.

They are used for storing data and later retrieving data using variable 'name'
you can choose the variable name (excpet from reserved words) and change the contents of the variable too.

In [ ]:
a=10
print('Initial value of a \n',a)
b='hi'
print("Content in variable b is\n",b)
a=50.4
print('New value of a is\n',a)  #here a and b are variables and can store value of any data type

Initial value of a
 10
Content in variable b is
 hi
New value of a is
 50.4

In [ ]:
# We can know the data type of a variable/data using built-in function "type()"

a=3000
b=33.55
c='Hello World'
print("Type of a is",type(a))
print("\nType of b is",type(b))
print("\n Type of c is",type(c))

print('-------------------')
print(type(1))
print(type('hi'))

Type of a is <class 'int'>

Type of b is <class 'float'>

 Type of c is <class 'str'>
-------------------
<class 'int'>
<class 'str'>

In [ ]:
#'+' operator on strings is used to concatenate 
str1='Hello'
str2='John'
str3='Have a '+'nice day!'
print(str1+str2)
print('\n',str3)
print('\n-----------------------------------------------\n')

num=10

print(num+str1) # python knows the data type and hence throws an error when a string is tried to concatenate with other data type

HelloJohn

 Have a nice day!

-----------------------------------------------

TypeError: ignored

##Expressions
A sequence of operands and operators, like a + b - 5 , is called an expression.

 Python supports many operators for combining data objects into expressions.example:*./,+,-,%

Precedence of operators is 
1. parenthesis
2. power
3. multiplication/division
4.Addition/Subtraction

Assocativity is Left to Right

In [ ]:
exp= 1+2**3/4*5
print("Value of the given expression is ",exp)

Value of the given expression is  11.0

##Type Conversions- 
1. Implicit 
2. Explicit

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [ ]:

#Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

print(float(19) + 100) #integer 100 is implicitly converted into float and the addition is peformed

a=10
b=float(20.4)
c=a+b
print('Type of a is',a,'\n')
print('Type of b is',b,'\n')
print('Value of c is ',c ,'\n type of c is',type(c))

119.0
Type of a is 10

Type of b is 20.4

Value of c is  30.4
 type of c is <class 'float'>

In [ ]:
# Integer Division like 8/4 gives result in float
print(8/4)
c=10/5    #implicit type conversion
print(type(c))

2.0
<class 'float'>

In [ ]:
# String Conversion (EXPLICIT CONVERSION)
#We can convert strings into integer and float using functions int() and float()
#Gives ERROR if the string does not contain a numeric value

str='123'
print(type(str))

str_2_int=int(str)
print('Value after explicit conversion is',str_2_int,'\n type is ',type(str_2_int))
print('\n------------------------------\n')

str1='John'
print(int(str1))  #Throws error as string isn't a numeric value hence conversion is not possible

<class 'str'>
Value after explicit conversion is 123
 type is  <class 'int'>

------------------------------

ValueError: ignored

##Taking user input-
 using built-in function input()

By default input() gives all the input values as string ,hence it has to be explicitly converted into int/float whenever necessary

In [ ]:
# example 1
a=input('enter your Roll number ')
print('Type of a is',type(a))
b=int(a)
print('Type of b is',type(b)) # explicit conversion is required to convert a string into int

enter your Roll number 450
Type of a is <class 'str'>
Type of b is <class 'int'>

In [ ]:
# example 2
name= input("Enter your name ")
print('Welcome '+ name) # string concatenation

Enter your name sam
Welcome sam

In [ ]:
# ex-3 Incrementing a number by 5
num=input('Enter a number: ')
a= int(num)+5    # needs explicit type coversion
print('Converted value is ',a)

Enter a number: 45
Converted value is  50

## String Format function
Format Function in Python (str. format()) is technique of the string category permits you to try and do variable substitutions and data formatting. It enables you to concatenate parts of a string at desired intervals through point data format.

In [ ]:
# example of format function- Sum of two numbers
num1=2
num2=2
sum=num1+num2
print("sum of {0} and {1} is {2}".format(num1,num2,sum))

sum of 2 and 2 is 4

##Comparison operators

Comparison operators help us to compare variables and output a boolean value.
![comparison op.png]()

## Indentation in Python

Python uses indentation to highlight the blocks of code. Whitespace is used for indentation in Python. All statements with the same distance to the right belong to the same block of code. If a block has to be more deeply nested, it is simply indented further to the right.

![ident1.png]()

## Conditions

In [2]:
# One-way desicion using "if condition"

num=21
if num==2:
  print("Number is 2")
if num>0:
  print("Positive number")

Positive number

In [3]:
# 2-way decision using if-else condition

num=10
if num>20:
   print(num,'is greater than 20')
else:
  print(num,"is smaller than 20")

10 is smaller than 20

In [8]:
# Nested if (Take care of the indentation)

num=int(input("Enter a number"))
if num>=0:
  if num==0:
    print("Number is zero")
  else:
    print("It's a positive number")
else:
  print("Its a negative number")

Enter a number4
It's a positive number

## Exception Handling
An exception is the run-time errors. Whenever an exception occurs, the program stops the execution, and thus the further code is not executed

### Try-except clause
The try block lets you test a block of code for errors. The except block lets you handle the error.This way the error is handled and entire code is not stopped from execution.

In [11]:
# example demonstrating exception handling
# we know that whenever a non-numeric string is tried to convert into int() or float() explicitly an exception occurs ,
# let's handle this error by try-except clause

str=input('Enter a number/string ')
try:
  i_str=int(str)
except:
  i_str=-1  # -1 indicates it was a non-numeric string and hence can't be converted into int


if i_str==-1:
  print("Sorry!! You have entered a non-numeric string and it cannot be converted into int. Please try entering a numeric string ")
else:
  print("The integer value is ",i_str)

Enter a number/string j
Sorry!! You have entered a non-numeric string and it cannot be converted into int. Please try entering a numeric string

## **Functions**
1. Built-in
2. User defined

A function is a block of organized, reusable code that is used to perform a single, related action. ... As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions.

####***Steps for defining a function:***
1. Begin the definition of a new function with def .
2. Followed by the name of the function.( Must obey the same rules as variable names.)
3. Then parameters in parentheses. ...
4. Then a colon.
5. Then an indented block of code

In [12]:
# example -1
def my_fun():
  print("This is inside the function and will print only if the function is called\n")

print("Before function call\n")
my_fun()  # we have to use function name to call the function
print("After function call")

Before function call

This is inside the function and will print only if the function is called

After function call

### Functions with Arguments

In [13]:
# example-1

def addition(n1,n2):   # function takes 2 arguments
  add=num1+num2
  return sum


num1 = int(input("Enter the first number"))
num2 = int(input("\nEnter the second number"))
sum=addition(num1,num2)          # we must pass correct number of parameters while calling the function
print("Sum of",num1,"and",num2,"is",sum)

Enter the first number4

Enter the second number5
Sum of 4 and 5 is 9

### Function: Return Values
A return statement is used to end the execution of the function call and returns the result (value of the expression following the return keyword) to the caller. 

The statements after the return statements are not executed. If the return statement is without any expression, then the special value None is returned.

In [3]:
# ex-1
def greet():
   return "Hello"


print(greet(),"Sally")
print(greet(),"Varsha")

Hello Sally
Hello Varsha

## Loops and iteration
###Loop:
When a sequence of instructions is executed in a repeated manner, it is called a loop.

### Iteration:
Iteration is a process wherein a set of instructions or structures are repeated in a sequence a specified number of times or until a condition is met.

### 1. While loop

In [4]:
# ex-1

count=0

while(count<3):
  count=count+1
  print("Hello!")  # executes for count=0,1 and 2 and terminates at count=3

Hello!
Hello!
Hello!

### Break and Continue
Break ends the loop and executes the statement following the loop(breaks out of the entire loop)

where as,

Continue ends the iteration and executes the next iteration of the loop( continues back to the beginning of the loop)

In [6]:
#example:

while True:
  inp=input("Enter ")
  if inp=="#":
    continue
  if inp=="Done":  # Program terminates only if input is "Done" else acts as a infinite loop
      break
  else:
    print(inp)
print(" Break executed")

Enter Hello
Hello
Enter #
Enter Hi
Hi
Enter done
done
Enter Done
 Break executed

### 2. For Loop

For loop can be used only on an iterable (that is either a list, a tuple, a dictionary, a set, or a string).

In [7]:
# ex-1 Iterating over a list
items=["mango","bag", 4.5,0,"paper"]
for i in items:
  print(i)

mango
bag
4.5
0
paper

In [9]:
# ex-2 using range function

bag=["pen",5,"money"]
for i in range(len(bag)):   #len(bag)->3 and range(3)->[0,1,2]
  print(i,"hello")

0 hello
1 hello
2 hello

In [11]:
#ex-3 FInding the largest number

largest_so_far=-1 # initializing
num_list=[30,7,0,12,32,45,4,70,35,90]
for i in num_list:
  if i>largest_so_far:
    largest_so_far=i
  print(largest_so_far,i)  # largest number, the current iteration value from the num_list 

print("The largest number after end of the loop is",largest_so_far)

30 30
30 7
30 0
30 12
32 32
45 45
45 4
70 70
70 35
90 90
The largest number after end of the loop is 90

### END